.app {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  width: fit-content;
}

.search {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  flex: 1;
}

.search button {
  cursor: pointer;
}
