/*
  justify-content: main axis
  align-items: cross axis
*/

@import url('https://fonts.googleapis.com/css?family=Shippori+Mincho:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru:400');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:100,300,400,500,600,700,900');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
}

:root {
  --bg-color: white;
  --post-color: white;
  --ft-color: black;
  --post-ft-color: black;
  --out-style: none;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

::-ms-input-placeholder {
  color: lightgray;
}

body {
  font-family: noto sans jp;
  font-size: 14px;
  color: var(--ft-color);
  background-color: var(--bg-color);
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--ft-color);
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  color: var(--post-ft-color);
  width: 1000px;
  box-shadow: 0px 0px 10px 0px gray;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  border-radius: 5px;
  background-color: var(--post-color);
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage img{
  max-width: 60%;
}

.homepagetext{
  max-width: 35%;
}

.homepagekanji {
  font-size: 18px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.abouttext {
  max-width: 45%;
}

.about img {
  max-width: 45%;
}

.ctr-navbar {
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*
  border-style: solid;
  border-color: black;
  */
}

.ctr-navbar h1 {
  font-size: 3rem;
  font-family: noto serif jp;
  font-weight: 900;
  order: -1;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border-style: var(--out-style);
}

.searchbar {
  color: var(--ft-color);
  width: 250px;
  padding-left: 0px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: lightgray;
  border-radius: 10px;
  border-width: 3px;
}

.searchbar input {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--ft-color);
  position: relative;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchbar img {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 215px;
  cursor: pointer;
  outline-style: var(--out-style);
}

.ctr-homepage {
  color: var(--post-ft-color);
  width: 800px;
  box-shadow: 0px 0px 10px 0px gray;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  border-radius: 5px;
  background-color: var(--post-color);
}

.ctr-kanji {
  color: var(--post-ft-color);
  width: 1000px;
  box-shadow: 0px 0px 10px 0px gray;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--post-color);
}

.ctr-kanji img {
  height: 15rem;
  width: 15rem;
  border-radius: 0.5rem;
  /* background-color: var(--ft-color); */
}

.ctr-kanji p {
  padding-right: 0rem;
  padding-left: 0rem;
  outline-style: var(--out-style);
}

.kanjilarge {
  font-size: 15rem;
  font-family: shippori mincho;
  font-weight: 400;
  margin-top: -1rem;
  outline-style: var(--out-style);
  line-height: 14rem;
}

.kanjifonts {
  font-size: 4rem;
  outline-style: var(--out-style);
  line-height: 4rem;
}

.kanjifonts1 {
  font-family: shippori mincho;
  font-weight: 500;
}

.kanjifonts2 {
  font-family: noto serif jp;
  font-weight: 500;
}

.kanjifonts3 {
  font-family: noto sans jp;
  font-weight: 500;
}

.kanjifonts4 {
  font-family: kosugi maru;
  font-weight: 400;
}

.ctr-row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  outline-style: var(--out-style);
}

.ctr-row2 {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  outline-style: var(--out-style);
}

.strokeseq {
  max-width: 71%;
  min-width: 60%;
  padding-left: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  outline-style: var(--out-style);
}

.strokeseq img {
  width: 100px;
  height: 100px;
  padding: 0;
  border-radius: 0px;
  border-style: dotted;
  border-width: 3px;
  border-color: lightgray;
  margin-top: -3px;
  margin-left: -3px;
  /* outline-style: solid;
  outline-style: dotted;
  outline-offset: -1px; */
  /* background-color: seashell; */
}

.kanjiinfo {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  outline-style: var(--out-style);
}

.kanjiinfo p {
  margin-left: 1rem;
}

.strokevid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline-style: var(--out-style);
}

.strokevid video {
  border-style: dotted;
  border-width: 3px;
  border-color: lightgray;
}

.strokevid p {
  padding-top: 0.5rem;
}

.footer {
  width: 250px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  cursor: pointer;
  margin-bottom: 2rem;
}
