/*
  justify-content: main axis
  align-items: cross axis
*/

:root {
  --bg-color: #313b55;
  --ft-color: seashell;
  --post-color: #3f4b6d
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--ft-color);
  background-color: var(--bg-color);

}

p {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ctr-navbar {
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*
  border-style: solid;
  border-color: black;
  */
}

.ctr-navbar h1 {
  font-size: 2.5rem;
  order: -1;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  /*border-style: solid;*/
}

.searchbar {
  width: 35%;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
}

.searchbar input {
  max-width: 100%;
  font-size: 1.5rem;
  color: var(--ft-color);
  position: relative;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchbar img {
  width: 2rem;
  height: 2rem;

  position: absolute;
  padding-left: 15%;
}

.ctr-main {
  width: 60%;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 2rem;
  background-color: var(--post-color);
}

.ctr-homepage {
  width: 60%;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 2rem;
  background-color: var(--post-color);
}

/*
.container {
  width: 80%;
  display: flex;
}

h1 {
  width: fit-content;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.navbar img {
  cursor: pointer;
}

.search {
  width: 20%;
  display: flex;
  align-items: flex-start;
}

.search input {
  flex: 1;
  font-size: 1.5rem;
}

.search button {
  cursor: pointer;
  height: 2rem;
}

.homePage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: darkgray;
}

.kanjiBlock {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background: darkgray;
}

.kanjiBlock .divider{
  width: 30%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.kanjiBlock img {
  padding: 2rem;
  width: 15rem;
  height: 15rem;
}
*/
